<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Договор</title>
</head>
<body>
    <h1>Договор</h1>
    <a href="/agreement/create">Добавить новый договор</a>
    <button onclick="window.location.href='/'">На главную</button>
    <ul>
        {% for agreement in agreements %}
            <li>
                <a href="/agreement/edit/{{ agreement.id }}">{{ agreement.contract_number }}</a>
                | <a href="/agreement/delete/{{ agreement.id }}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>