<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Sale</title>
</head>
<body>
    <h1>Добавить продажу</h1>
    <form action="/sales/create" method="post">
        <label for="product_id">Продукт:</label>
        <select name="product_id" id="product_id" required>
            {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }} - ${{ product.price }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="quantity">Количество:</label>
        <input type="number" name="quantity" id="quantity" required>
        <br><br>

        <button type="submit">Добавить продажу</button>
    </form>
</body>
</html>