<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система управления запасами</title>
</head>
<body>
    <h1>Система управления запасами</h1>
    <ul>
        <li><a href="/manufacturer">Производители</a></li>
        <li><a href="/counterparty">Контрагенты</a></li>
        <li><a href="/agreement">Соглашения</a></li>
        <li><a href="/product">Продукты</a></li>
        <li><a href="/sales">Продажи</a></li>
        <li><a href="/stocks">Складские запасы</a></li>
    </ul>
<a href="/logout">
    <button>Выйти</button>
</a>
</body>
</html>