<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
</head>
<body>
    <h1>Продажи</h1>
    <a href="/sale/create">Добавить новую продажу</a>
    <button onclick="window.location.href='/'">На главную</button>
    <table>
        <thead>
            <tr>
                <th>Продукт ID</th>
                <th>Количество</th>
                <th>Общая цена</th>
                <th>Дата продажи</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.product_id }}</td>
                <td>{{ sale.quantity }}</td>
                <td>{{ sale.total_price }}</td>
                <td>{{ sale.date_sold }}</td>
                <td>
                    <a href="/sale/edit/{{ sale.id }}">Редактировать</a> |
                    <a href="/sale/delete/{{ sale.id }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>